import { addCommas } from '../../app.js';
import './productitem.tag.html';

<productitems>
  <div class="product-search">
    <input type="text" name="search" class="u-full-width" value="" placeholder="Masukkan kata yang ingin dicari dan tekan ⏎"  onblur="{ blur2 }" onkeyup="{ s }">
  </div>
  <div class="product-item">
    <small class="hint">*To update the price, change the price and press ⏎.</small><br/>
    <div class="row" each={ productItems }>
      <productitem title="{title}" price="{price}" stock="{stock}" _id="{_id}"></productitem>
    </div> 
    <div class="pagination u-text-center">
        <ul>
          <li  each={ countItems }  class={ active: done }>
            <a href="./#products?page={id}">{id}</a>
          </li>
        </ul>
    </div>
  </div>

  <script>
    var tag = this
    tag.productItems = []
    tag.countItems = []
    var q = riot.route.query()

    let clearSearch = (s) => {
      document.getElementById('preloader').style.display = ""
      riot.control.trigger(riot.EVT.productSearchItem, {text: s})
    };

    tag.s = (e) => {
      if(e.which == 13) { // enter
        clearSearch(e.target.value)
      }
    };

    tag.on('mount', () => {
      if(!q.page) q.page = 1
      document.getElementById('preloader').style.display = ""
      riot.control.trigger(riot.EVT.productLoadItems, {page: q.page})
    });

    riot.control.on(riot.EVT.productLoadItemsSuccess, productItems => {
      tag.productItems = productItems.docs.map(function(r){ return r })
      var array = _.range(0, (productItems.total_rows/riot.pageSize)) 
      tag.countItems = _.map(array, function (value, key) {
        return {id: (key+1), done: (q.page == (key+1) ? true: false)}
      })
      document.getElementById('preloader').style.display = "none"
      tag.update()
    });

    riot.control.on(riot.EVT.productSaveItemSuccess, item => {
      tag.productItems.splice(0,0,item)
      alerty.toasts(
          "UPDATE SUCCESS: New product has been added",
          { place: 'top', bgColor: 'green', time: 2500 }
        )
      tag.update()
    });

    riot.control.on(riot.EVT.productRemoveItemSuccess, item => {
      var index__ = _.indexOf(tag.productItems, _.find(tag.productItems, {_id: item._id}))
      if (parseFloat(index__) > -1) {
        tag.productItems.splice(index__, 1)
      }

      alerty.toasts(
          "REMOVE SUCCESS: Product has been removed",
          { place: 'top', bgColor: 'green', time: 2500 }
        )

      tag.update()
    });

    riot.control.on(riot.EVT.productSearchItemSuccess, searchitems => {
      tag.productItems = searchitems
      tag.countItems = []
      document.getElementById('preloader').style.display = "none"
      tag.update()
    });

    riot.control.on(riot.EVT.productUpdateItemSuccess, item => {
      var index = _.indexOf(tag.productItems, _.find(tag.productItems, {_id: item._id}))
      _.assign(tag.productItems[index], {isUpdated: true})
      tag.update()
    });

  </script>
</productitems>