import { addCommas } from '../../app.js';

<productitem>
  <div class="eight columns product-item-name">
      <label>{ this.title } <small class="green">{ "✔ updated": this.isUpdated }</small></label>
      <input type="hidden" name="item_single" value="{ this.title }">
  </div>
  <div class="three columns u-text-right product-item-price">
      <input type="text" min="1" name="price_single" class="u-full-width u-text-right" value="{ price_update_ }" onkeyup="{edit}" oninput="{oninputprice_single}">
  </div>
  <div class="one columns u-text-right product-item-price">
      <a href="#{this._id}" onclick={remove}>[x]</a>
  </div>
  <script>
    var tag = this;
    tag.price_single_ = String(tag.price).replace(".", "")
    tag.prize_ = parseFloat(tag.price_single_)
    tag.removed = false
    tag.isUpdated = false

    tag.on('update', () => {
      tag.price_update_ = addCommas(tag.price_single_)
    });

    tag.oninputprice_single = () => {
      var prize__ = parseFloat(tag.price_single.value)
      if(prize__ > 0 || !isNaN(prize__)) {
        tag.price_error = false
      } else {
        tag.price_error = true
      }
      tag.price_single_ = parseFloat(tag.price_single.value.replace(".", ""))
      tag.price_single.value=addCommas(tag.price_single.value.replace(/[^0-9-]/g,''))
    };

    tag.edit = (e) => {
      if(e.which == 13) { // escape
        var prize_ = parseFloat(tag.price_single_)
        if (tag.item_single.value && (prize_ > 0 || !isNaN(prize_))) {
          var item = {
            _id: opts._id,
            title: tag.item_single.value,
            price: prize_,
            stock: 0,
            created: tag.created
          }
          riot.control.trigger(riot.EVT.productSaveItem, item)
        }
      }
    };

    tag.remove = (e) => {
      var r = confirm("Remove \""+tag.title+"\" ?");
      if (r == true) {
          var opts = {_id: tag._id}
          riot.control.trigger(riot.EVT.productRemoveItem, opts)
      } else {
          return false;
      }
    };

  </script>
</productitem>